body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.site-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: #4d5ae5; 
}
.logo-accent {
    color: #2e2f42; 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover,
nav a:focus {
    color: #2196F3;
}


address ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

address ul li {
    margin-right: 15px;
}

address a {
    text-decoration: none;
    color: #757575;
    transition: color 0.3s;
}

address a:hover,
address a:focus {
    color: #2196F3;
}


.studio {
    text-align: center;
    background-color: #2F303A;
    color: #FFFFFF;
    padding: 100px 0;
}

.studio h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

button {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
button:focus {
    background-color: #1976D2;
}


h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.team ul,
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team li,
.portfolio-list li {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.team h3 {
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    margin-top: 10px;
    transition: color 0.3s;
}


.team h3:hover,
.team h3:focus {
    color: #2196F3;
}

.portfolio img {
    max-width: 100%;
    border-radius: 5px;
}

/footer {
    background-color: #2e2f42;
    color: #F4F4FD;
    text-align: center;
    padding: 40px 20px;
}

footer .logo {
    display: block;
    margin-bottom: 20px;
}


footer p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}